/* IMPORT GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* DECLARE CSS VARIABLES */

:root {

    /* Colors */

    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);


    /* Typography */

    --ff-outfit: 'Outfit', sans-serif;
    --fs-description: 1.5rem;
    --fw-regular: 400;
    --fw-bold: 700;

}



/* RESET DEFAULT CSS STYLES */

*, *::before, *::after {

    margin: 0;
    padding: 0;

}

html {

    font-size: 10px;
    box-sizing: border-box;
    
}

body {
    
    font-family: var(--ff-outfit);
    background-color: var(--color-light-gray);
    font-size: var(--fs-description);
    font-weight: var(--fw-regular);
    
}



/* CUSTOM CSS STYLES */

.container {

    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;

}

.card {

    width: 100%;
    max-width: 280px;
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);

}

.card__image-container {

    width: 100%;

}

.card__image {
    
    width: inherit;
    border-radius: 10px;

}

.card__content {

    max-width: 100%;
    padding-block: 2rem 2.5rem;
    text-align: center;

}

.card__content-title {
    
    color: var(--color-dark-blue);
    font-size: 2.1rem;
    font-weight: var(--fw-bold);
    margin-block-end: 1.5rem;
    margin-inline: auto;
    padding-inline: 2%;
    
}

.card__content-description {

    color: var(--color-grayish-blue);
    margin-inline: auto;
    padding-inline: 4%;

}
